<!doctype html>
<html lang="en">

<head>
    <title>Gaze - Student Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <meta name="author" content="Ronald Nettey">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/rstyle.css">
    <link rel="stylesheet" href="../css/gaze.css">
    <link rel="icon" href="#">
</head>

<body>
    <section class="rFullScreen gHome dashHome">
        <section class="rFullWrap">
            <section class="">
                <nav class="dashNav">
                    <div class="nav-wrapper">
                        <a href="#" class="brand-logo">Gaze</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <div class="chip profile">
                                <img src="https://s-media-cache-ak0.pinimg.com/236x/83/d1/94/83d1945c9c6ee0ab92c1f2eb779b8720.jpg" alt="Contact Person"> Jane Doe
                            </div>

                        </ul>
                    </div>
                </nav>
                <!-- Page Layout here -->
                <div class="row">

                    <div class="col s2 m1 leftNav">
                        <!-- Grey navigation panel -->


                    </div>

                    <div class="col s10 m11 offset-m1 rightContent">
                        <!-- Teal page content  -->
                        <div class="row">
                            <div class="container  col s12">
                                <div class="row">
                                    <!--Function card-->
                                    <div class="col m4">
                                        <div class="valign-wrapper">
                                            <div class="container">
                                                <div class="card-panel dashOpt">
                                                    <h1>
                                                        <i class="fa fa-users" aria-hidden="true"></i>
                                                    </h1>
                                                    <p>Students</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--end of function card-->


                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </section>
        </section>
    </section>



    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/gaze.js"></script>
</body>

</html>