<!doctype html>
<html lang="en">

<head>
    <title>Gaze - Student Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <meta name="author" content="Ronald Nettey">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/rstyle.css">
    <link rel="stylesheet" href="../css/gaze.css">
    <link rel="icon" href="#">
</head>

<body>
    <section class="rFullScreen gHome">
        <section class="rFullWrap">
            <section class="container rContent">


            </section>
        </section>
    </section>



    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/gaze.js"></script>
</body>

</html>